{% include "menu.html" %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
  	<title>Course Recommendation System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="{% static 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900' %}" rel="stylesheet">
		
		<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
		<link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<style>
			.button {
				background-color: #008CBA; 
				border: none;
				color: white;
				padding: 8px 16px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 13px;
				margin: 4px 2px;
				transition-duration: 0.4s;
				cursor: pointer;
			  }
			  .button1 {
				background-color: white; 
				color: black; 
				border: 2px solid #008CBA;
			  }
			  .button1:hover {
				background-color: #008CBA;
				color: white;
			  }
		</style>
  </head>
  <body>


		
		<section class="ftco-section">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<h2 class="heading-section mb-5 pb-md-4">Course Recommendation System</h2>
					</div>
					<div class="col-md-12">
						<div class="featured-carousel owl-carousel">
							<div class="item">
								<div class="blog-entry">
		              <a href="{% static '#' %}" class="block-20 d-flex align-items-start" style="background-image: url('static/images/philosophy.jpg');">
										<div class="meta-date text-center p-2">
		                  <span class="day">GFVM</span>
		                </div>
		              </a>
		              <div class="text border border-top-0 p-4">
		                <h3 class="heading"><a href="gfvm">Values and Meaning of Life</a></h3>
		                <p>Engage in reflection on moral beliefs and practices, through inquiry into questions of ethics and morality as presented in one or more philosophical and/or religious traditions.</p>
		                <div class="d-flex align-items-center mt-4">
			                <p class="mb-0"><a href="gfvm" class="button button1">List Courses <span class="ion-ios-arrow-round-forward"></span></a></p>
	
		                </div>
		              </div>
		            </div>
							</div>

							<div class="item">
								<div class="blog-entry">
		              <a href="{% static '#' %}" class="block-20 d-flex align-items-start" style="background-image: url('static/images/gcap.jpg');">
										<div class="meta-date text-center p-2">
		                  <span class="day">GCAP</span>
		                </div>
		              </a>
		              <div class="text border border-top-0 p-4">
		                <h3 class="heading"><a href="gcap">Capstone Courses</a></h3>
		                <p>Synthesise knowledge from various disciplines and to provide innovative solutions to solve a societal or global problem. Course aims to reveal creativity of students and broaden their horizons.</p>
		                <div class="d-flex align-items-center mt-4">
			                <p class="mb-0"><a href="gcap" class="button button1">List Courses <span class="ion-ios-arrow-round-forward"></span></a></p>
			        
		                </div>
		              </div>
		            </div>
							</div>

							<div class="item">
								<div class="blog-entry">
		              <a href="{% static '#' %}" class="block-20 d-flex align-items-start" style="background-image: url('static/images/history.jpg');">
										<div class="meta-date text-center p-2">
		                  <span class="day">GFHC</span>
		            
		                </div>
		              </a>
		              <div class="text border border-top-0 p-4">
		                <h3 class="heading"><a href="gfhc">History and Civilization</a></h3>
		                <p>Inform the role of history in human endeavors be it cultural, social, political, economic, or scientific. These courses improve knowledge of participants on topics related to history and civilization.
						</p>
		                <div class="d-flex align-items-center mt-4">
			                <p class="mb-0"><a href="gfhc" class="button button1">List Courses <span class="ion-ios-arrow-round-forward"></span></a></p>
			                
		                </div>
		              </div>
		            </div>
							</div>

							<div class="item">
								<div class="blog-entry">
		              <a href="{% static '#' %}" class="block-20 d-flex align-items-start" style="background-image: url('static/images/math.jpg');">
										<div class="meta-date text-center p-2">
		                  <span class="day">GFQR</span>
		                 
		                </div>
		              </a>
		              <div class="text border border-top-0 p-4">
		                <h3 class="heading"><a href="gfqr">Quantitative Reasoning</a></h3>
		                <p>Use quantitative data for the purposes of analysis and reasoning to understand, interpret, critique, debunk, challenge, explicate, and draw conclusions.</p>
		                <div class="d-flex align-items-center mt-4">
			                <p class="mb-0"><a href="gfqr" class="button button1">List Courses <span class="ion-ios-arrow-round-forward"></span></a></p>
			            
		                </div>
		              </div>
		            </div>
							</div>

							<div class="item">
								<div class="blog-entry">
		              <a href="{% static '#' %}" class="block-20 d-flex align-items-start" style="background-image: url('static/images/gt.jpg');">
										<div class="meta-date text-center p-2">
		                  <span class="day">GT</span>
		                </div>
		              </a>
		              <div class="text border border-top-0 p-4">
		                <h3 class="heading"><a href="gt">Interdisciplinary Thematic Courses</a></h3>
		                <p>Enlighten yourself about culture, science, sustainable community through learning variety of courses.</p>
		                <div class="d-flex align-items-center mt-4">
			                <p class="mb-0"><a href="gt" class="button button1">List Courses <span class="ion-ios-arrow-round-forward"></span></a></p>
			            
		                </div>
		              </div>
		            </div>
							</div>

							<div class="item">
								<div class="blog-entry">
		              <a href="{% static '#' %}" class="block-20 d-flex align-items-start" style="background-image:  url('static/images/free.jpg');">
										<div class="meta-date text-center p-2">
		                  <span class="day">Free</span>
		            
		                </div>
		              </a>
		              <div class="text border border-top-0 p-4">
		                <h3 class="heading"><a href="free">Free Elective Courses</a></h3>
		                <p>You are free to choose anything you like. Be creative and stay passionate. There are numerous courses available to you and all of them are useful. Just be ready to learn.</p>
		                <div class="d-flex align-items-center mt-4">
			                <p class="mb-0"><a href="free" class="button button1">List Courses <span class="ion-ios-arrow-round-forward"></span></a></p>
			    
		                </div>
		              </div>
		            </div>
							</div>
							{%if user.is_authenticated %}
							<div class="item">
								<div class="blog-entry">
		              <a href="{% static '#' %}" class="block-20 d-flex align-items-start" style="background-image:  url('static/images/recommendation.jpg');">
										<div class="meta-date text-center p-2">
		                  <span class="day">Recommended Courses</span>
		            
		                </div>
		              </a>
		              <div class="text border border-top-0 p-4">
		                <h3 class="heading"><a href="free">Recommended Courses</a></h3>
		                <p>This is a list of course recommendations based on your preferences. Recommended courses change depending on your ratings assigned to other courses.</p>
		                <div class="d-flex align-items-center mt-4">
			                <p class="mb-0"><a href="recommendation" class="button button1">List Courses <span class="ion-ios-arrow-round-forward"></span></a></p>
			    
		                </div>
		              </div>
		            </div>
							{%endif%}
						</div>
						
					</div>
				</div>
			</div>
		</section>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>


  </body>
</html>