

{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="https://www.hkbu.edu.hk/eng/main/index.jsp">
            <img src="static/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        
          </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/">About</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item active">
              <a class="nav-link" href="#">Hi, {{user.username}}</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="authenticate/logout">Logout</a>
            </li>
            {% else %}
            <li class="nav-item active">
              <a class="nav-link" href="authenticate/login">Login</a>
            </li>
            <li class="nav-item active dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Register
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="authenticate/signup_teacher">I'm a teacher</a>
                <a class="dropdown-item" href="authenticate/signup_student">I'm a student</a>
              </div>
            </li>
            {% endif %}
            {% if user.is_authenticated %}
            <li class="nav-item active">
              <a class="nav-link" href="authenticate/login">{{type_obj.is_teahcer}}</a>
            </li>
            {% endif %}

          </ul>
          <form class="form-inline my-2 my-lg-0" action="{% url 'search_results' %}">
            <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Search</button>
          </form>
        </div>
      </nav>

      <script>

      // const data = '{{search_qs}}'
      //  console.log(data)

      </script>
</body>



</html>