<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>Student Registration</title>
</head>
<body>
    <section class="section">
        <div class="container">
        <div class="container">
            <h1 class="title">
              Register as a "Student"
            </h1>
            <br>
      
          
          </div>
        <form action="signup_student" method="post">
        {% csrf_token %}
        <div class="field">
            <label class="label">Username</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input" style="width: 250px;" type="text" placeholder="Username" name="username">
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </div>
       
          </div>
          <div class="field">
            <label class="label">Email</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input" style="width: 250px;" type="email" placeholder="Email" name="email">
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </div>
       
          </div>
          <div class="field">
            <p class="control has-icons-left" style="width: max-content;">
              Please create a strong password.
              <span class="icon is-small is-left">
                
                <i class="fas fa-lock"></i>
                
              </span>
            </p>
          </div>
          <div class="field">
            <label class="label">Password</label>
            <p class="control has-icons-left">
              <input class="input" id="password" style="width: 250px;" type="password" name="password1" placeholder="Password">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>

          <div class="field">
            <p class="control has-icons-left" id = "strength" style="width: max-content;">
              
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
                
              </span>
            </p>
          </div>
          <div class="field">
            <label class="label">Confirm Password</label>
            <p class="control has-icons-left">
              <input class="input" style="width: 250px;" type="password" name="password2" placeholder="Confirm Password">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
          <br>
          <div class="control">
            <button class="button is-link">Submit</button>
          </div>
 
    </form>
</div>

    
        
      </section>
      <script>
        let timeout;
        let password = document.getElementById('password');
        let strength = document.getElementById('strength');
        let strongPassword = new RegExp('(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^A-Za-z0-9])(?=.{8,})')
        let mediumPassword = new RegExp('((?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^A-Za-z0-9])(?=.{6,}))|((?=.*[a-z])(?=.*[A-Z])(?=.*[^A-Za-z0-9])(?=.{8,}))')

        function StrengthChecker(PasswordParameter) {
          if(strongPassword.test(PasswordParameter)) {
              strength.style.backgroundColor = "green";
              strength.textContent = 'Your password is strong';
          } else if(mediumPassword.test(PasswordParameter)) {
              strength.style.backgroundColor = 'blue';
              strength.textContent = 'Your password is medium';
          } else {
              strength.style.backgroundColor = 'red';
              strength.textContent = 'Your password is weak';
          }
      }

      password.addEventListener("input", () => {
        strength.style.display = 'block';
        clearTimeout(timeout);
        timeout = setTimeout(() => StrengthChecker(password.value), 500);
        if(password.value.length !== 0) {
            strength.style.display != 'block';
        } else {
            strength.style.display = 'none';
        }
    });
      </script>
</body>
</html>